{% extends 'base.html' %}


{% block content %}

    <h3>{{ title }}</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}


        {% for field in form %}
            <p> {{ field.label }}:
                {{ field }}</p>
        {% endfor %}

        {% if category_instance %}

            <a href="{% url 'delete_category' slug=category_instance.slug %}">Удалить</a>
        {% elif user_instance %}
            <a href="{% url 'delete_user' pk=user_instance.pk %}">Удалить</a>

        {% endif %}


        <br>
        <br>
        <input type="submit" value="Сохранить">
    </form>
{% endblock %}
