{% extends 'profiles/moderator.html' %}

{% block content %}

    <h3>Панель администратора</h3>

    <br>

    <h3> ==Пользователи==</h3>

    <a href="{% url 'create_user'%}">Создать пользователя</a>
    <br>
    <br>
    <div>

    <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Создан</th>
                    <th scope="col">Изменен</th>
                    <th scope="col">Аккаунт активирован</th>
                        <th scope="col">Группа</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                        <td>{{user.email}}</td>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.patronymic}}</td>
                        <td>{{user.phone_number}}</td>
                        <td>{{user.created_at}}</td>
                        <td>{{user.updated_at}}</td>
                        <td>{{user.email_activated}}</td>
                            <td>{{ user.groups.all.0 }}</td>
                        <td><a href="{% url 'edit_user' pk=user.pk %}">Редактировать</a></td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    <h3> =================</h3>
    </div>



    <h3> ==Категории объявлений==</h3>

    <a href="{% url 'create_category'%}">Добавить категорию</a>
    <br>
    <br>
    <div>

    <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Категория</th>
                    <th scope="col">Родительская категория</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cat in advert_categories %}
                        <tr>
                        <td>{{cat.name}}</td>
                        <td>{{cat.parent.name}}</td>
                        <td><a href="{% url 'edit_category' slug=cat.slug %}">Редактировать</a></td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    <h3> =================</h3>
    </div>

        <h3> ==Справочник регионов==</h3>

    <a href="{% url 'create_region'%}">Добавить регион</a>
    <br>
    <br>
    <div>

    <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Регион</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for region in regions %}
                        <tr>
                        <td>{{region.name}}</td>
                        <td><a href="{% url 'edit_region' pk=region.pk %}">Редактировать</a></td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    <h3> =================</h3>
    </div>


        <h3> ==Справочник городов==</h3>

    <a href="{% url 'create_city'%}">Добавить город</a>
    <br>
    <br>
    <div>

    <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Город</th>
                    <th scope="col">Регион</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for city in cities %}
                        <tr>
                        <td>{{city.name}}</td>
                        <td>{{city.region.name}}</td>
                        <td><a href="{% url 'edit_city' pk=city.pk %}">Редактировать</a></td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    <h3> =================</h3>
    </div>


{% endblock %}